Repository hmcts/am-lib, pull requests merged in 2019-02, with the labels that each got.

#30 [AKS] - Feature/am 9/explicit permissions
  am-lib/config/pmd/ruleset.xml
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/db/migration/V4__Add_permissions_column_to_am.sql
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/enums/Permissions.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/AccessManagement.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitPermissions.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/repositories/AccessManagementRepository.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/AccessManagementServiceIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/PermissionsTest.java
  src/gatling/bodies/createResourceAccess.json
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/http/AccessManagement.scala
  src/main/java/uk/gov/hmcts/reform/amapi/controllers/AmLibProxyController.java
  src/main/java/uk/gov/hmcts/reform/amapi/controllers/RootController.java
  tools/postman-collections/am-lib-testing.postman_collection.json
Labels: ns:am-lib-test-pr-30

#39 [PREVIEW] Add Pitest
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  am-lib/build.gradle
  build.gradle
Labels: WIP

#59 ci: enable preview builds by default and cleanup pipeline config
  Jenkinsfile_CNP
  charts/am-lib-test/Chart.yaml
  charts/am-lib-test/values.template.yaml
Labels: ns:am-lib-test-pr-59

#53 feat: change filtering result to an envelope with permissions map (AM-115)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/enums/Permission.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/enums/Permissions.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/exceptions/UnsupportedPermissionsException.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessRecord.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/FilterResourceResponse.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/repositories/AccessManagementRepository.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/utils/Permissions.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/AccessManagementServiceIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/PermissionTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/PermissionsTest.java
  src/gatling/bodies/createResourceAccess.json
  src/main/java/uk/gov/hmcts/reform/amapi/controllers/AmLibProxyController.java
Labels: ns:am-lib-test-pr-53

#58 feat: add revoke explicit access method to am-lib (AM-65)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/AbstractAccessMetadata.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessMetadata.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessRecord.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/repositories/AccessManagementRepository.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/AccessManagementServiceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetAccessorsListIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GrantAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/RevokeAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/base/IntegrationBaseTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestDataFactory.java
  src/main/java/uk/gov/hmcts/reform/amapi/controllers/AmLibProxyController.java
  tools/postman-collections/am-lib-testing.postman_collection.json
Labels: ns:am-lib-test-pr-58

#62 fix: make performance tests load request bodies properly on Jenkins
  src/gatling/README.md
  src/gatling/conf/gatling.conf
  src/gatling/run.sh
  src/gatling/simulations/AmlibRun.scala
Labels: ns:am-lib-test-pr-62

#64 chore: add .editorconfig file
  .editorconfig
Labels: ns:am-lib-test-pr-64

#65 chore: add GitHub pull request template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: ns:am-lib-test-pr-65

#67 test: add revoke resource access endpoint test to performance tests
  src/gatling/bodies/revokeResourceAccess.json
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/http/AccessManagement.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/scenarios/BasicScenarios.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/simulations/PipelineSimulation.scala
Labels: ns:am-lib-test-pr-67

#54 chore: upgrade jUnit to version 5.4
  am-lib/build.gradle
  am-lib/config/pmd/ruleset.xml
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetAccessorsListIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GrantAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/RevokeAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/base/IntegrationBaseTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/PermissionTest.java
  build.gradle
  src/integrationTest/java/uk/gov/hmcts/reform/amapi/config/SwaggerPublisher.java
  src/integrationTest/java/uk/gov/hmcts/reform/amapi/controllers/GetWelcomeTest.java
  src/test/functional/java/uk/gov/hmcts/reform/amapi/functional/HealthCheckTest.java
  src/test/functional/java/uk/gov/hmcts/reform/amapi/functional/HelloWorldTest.java
  src/test/functional/java/uk/gov/hmcts/reform/amapi/functional/RestAssuredTest.java
  src/test/functional/java/uk/gov/hmcts/reform/amapi/functional/SmokeTest.java
  src/test/java/uk/gov/hmcts/reform/amapi/functional/ApplicationTests.java
Labels: ns:am-lib-test-pr-54

#70 refactor: delete hello word scenario
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/http/AccessManagement.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/scenarios/BasicScenarios.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/simulations/PipelineSimulation.scala
Labels: ns:am-lib-test-pr-70

#71 build: stop using deprecated Gradle APIs
  am-lib/build.gradle
  build.gradle
Labels: ns:am-lib-test-pr-71
