Repository hmcts/am-lib, pull requests merged in 2019-08, with the labels that each got.

#268 fix: Gatling test initial data load
  Jenkinsfile_nightly
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/config/DatabaseProperties.java
  am-lib/src/main/resources/db/migration/V18__Delete_Service_Resource_Data.sql
  build.gradle
  nightlyperformancedata/load-or-delete-performance-testdata.sh
  nightlyperformancedata/sql/delete-data.sql
  nightlyperformancedata/sql/load-data.sql
  src/gatling/resources/createResourceAccess.json
  src/gatling/resources/filterResource.json
  src/gatling/resources/revokeResourceAccess.json
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/http/AccessManagement.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/scenarios/BasicScenarios.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/simulations/PipelineSimulation.scala
  src/test/java/uk/gov/hmcts/reform/amapi/controllers/AccessManagementControllerTest.java
  tools/postman-collections/am-lib-testing.postman_collection.json
Labels: ns:am-lib-test-pr-268

#289 fix: bump jackson databind version
  am-lib/build.gradle
  build.gradle
Labels: ns:am-lib-test-pr-289

#293 test: serenity test data load
  .gitignore
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/AccessManangementApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/HealthCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/HelloWorldTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/client/AmApiClient.java
  src/functionalTest/resources/application-functional.yaml
  src/functionalTest/resources/delete-data-functional.sql
  src/functionalTest/resources/load-data-functional.sql
Labels: ns:am-lib-test-pr-293

#295 refactor: enabled smoke test
  build.gradle
Labels: ns:am-lib-test-pr-295

#297 refactor:Smoke report fix
  Jenkinsfile_CNP
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/HealthCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/client/AmApiClient.java
Labels: ns:am-lib-test-pr-297

#300 refactor: Smoke report fix
  Jenkinsfile_CNP
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/HealthCheckTest.java
Labels: ns:am-lib-test-pr-300

#282 feat: return user cases lib method (AM-382)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/AccessManagementRepository.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/UserCasesEnvelope.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/ReturnUserCasesIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
Labels: ns:am-lib-test-pr-282

#290 feat: library method for returning user case roles (AM-383)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/AccessManagementRepository.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/UserCaseRolesEnvelope.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/ReturnCaseRolesForUserIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
Labels: ns:am-lib-test-pr-290

#302 fix: filter resource method no longer returns role that doesn't exist (AM-375)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/AccessManagementRepository.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
Labels: ns:am-lib-test-pr-302

#315 refactor: change java base location v3
  .gitignore
  Dockerfile
  Jenkinsfile_CNP
  build.gradle
  charts/am-lib-test/Chart.yaml
  charts/am-lib-test/requirements.yaml
  charts/am-lib-test/values.yaml
  lib/AI-Agent.xml
  lib/applicationinsights-agent-2.3.1.jar
Labels: ns:am-lib-test-pr-315

#317 feat: remove deprecated method
  Jenkinsfile_nightly
Labels: ns:am-lib-test-pr-317

#308 refactor: Nightly build with S2S Authentication
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  build.gradle
  config/owasp/suppressions.xml
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/http/AccessManagement.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/scenarios/BasicScenarios.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/simulations/PipelineSimulation.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/utils/Environment.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/utils/S2SHelper.scala
Labels: ns:am-lib-test-pr-308

#318 feat: OWASP ZAP security scan
  Jenkinsfile_nightly
  security.sh
Labels: ns:am-lib-test-pr-318

#326 feat: Versioning Api AM-381
  Jenkinsfile_CNP
  am-lib/src/main/resources/db/migrationAks/V19__load_data.sql
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/AccessManangementApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/FunctionalTestSuite.java
  src/functionalTest/resources/application-functional.yaml
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/http/AccessManagement.scala
  src/integrationTest/java/uk/gov/hmcts/reform/amapi/controllers/AccessManagementControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/amapi/exception/AccessManagementResponseEntityExceptionHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/amapi/controllers/AccessManagementController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/amapi/controllers/AccessManagementControllerUnitTest.java
Labels: ns:am-lib-test-pr-326

#311 feat: library method to return role permissions for case type (AM-391)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/AccessManagementRepository.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/DefaultRolePermissions.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/RolePermissionsForCaseTypeEnvelope.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/ReturnRolePermissionsForCaseTypeIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
Labels: ns:am-lib-test-pr-311
