Repository hmcts/am-lib, pull requests merged in 2019-04, with the labels that each got.

#115 build: stop the build from deployment to production without failing build
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
Labels: ns:am-lib-test-pr-115

#102 refactor: getRolePermissions implementation in filterResource method (AM-168)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/aspects/AuditingAspect.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/AccessManagementRepository.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/AccessEnvelope.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/FilteredResourceEnvelope.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/Resource.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetRolePermissionsIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestDataFactory.java
  src/main/java/uk/gov/hmcts/reform/amapi/controllers/AmLibProxyController.java
Labels: ns:am-lib-test-pr-102

#113 build: add performance benchmark (AM-261)
  .gitattributes
  Jenkinsfile_nightly
  am-lib/build.gradle
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceBenchmarkTest.java
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceBenchmarks.java
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/SetupGenerator.java
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/config/DatabaseProperties.java
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/states/BenchmarkState.java
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/states/DataState.java
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/utils/DataSourceFactory.java
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/utils/DatabaseUtils.java
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/utils/EnvironmentVariableUtils.java
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/utils/RandomNumberFactory.java
  am-lib/src/benchmark/resources/database-scripts/populate/access_management.copy.sql
  am-lib/src/benchmark/resources/database-scripts/populate/access_management.sql
  am-lib/src/benchmark/resources/database-scripts/populate/default_permissions_for_roles.sql
  am-lib/src/benchmark/resources/database-scripts/populate/resource_attributes.sql
  am-lib/src/benchmark/resources/database-scripts/populate/resources.sql
  am-lib/src/benchmark/resources/database-scripts/populate/roles.sql
  am-lib/src/benchmark/resources/database-scripts/populate/services.sql
  am-lib/src/benchmark/resources/database-scripts/truncate.sql
  am-lib/src/benchmark/resources/resource-data/cmc.json
  am-lib/src/benchmark/resources/resource-data/fpl.json
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  docker-compose.yml
Labels: ns:am-lib-test-pr-113

#112 feat: support for relationship between user and resource in explicit access record
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/SetupGenerator.java
  am-lib/src/benchmark/resources/database-scripts/populate/access_management.copy.sql
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/enums/AccessorType.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/models/ExplicitAccessRecord.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/models/Role.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/AccessManagementRepository.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/DefaultRoleSetupRepository.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/AccessEnvelope.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessGrant.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessMetadata.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/FilteredResourceEnvelope.java
  am-lib/src/main/resources/db/migration/V12__Add_Relationship_To_Access_Management_Table.sql
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetResourceDefinitionsWithCreatePermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetRolePermissionsIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GrantAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/RevokeAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/base/PreconfiguredIntegrationBaseTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/RoleIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestDataFactory.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/internal/utils/PermissionsTest.java
  src/gatling/bodies/createResourceAccess.json
  src/gatling/bodies/revokeResourceAccess.json
  src/main/java/uk/gov/hmcts/reform/amapi/Application.java
  tools/postman-collections/am-lib-testing.postman_collection.json
Labels: ns:am-lib-test-pr-112

#126 build: upgrade Gradle, plugins and dependencies
  am-lib/build.gradle
  am-lib/gradle/wrapper/gradle-wrapper.properties
  build.gradle
  config/owasp/suppressions.xml
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:am-lib-test-pr-126

#127 refactor: remove unneccessary constants from tests
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetResourceDefinitionsWithCreatePermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetRolePermissionsIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GrantAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/RevokeAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/base/PreconfiguredIntegrationBaseTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/DefaultPermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/RoleIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/DefaultRoleSetupDataFactory.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestDataFactory.java
Labels: ns:am-lib-test-pr-127

#133 build: suppress vulnerability to fix dependency scan issue
  config/owasp/suppressions.xml
Labels: ns:am-lib-test-pr-133

#131 build: upgrade Gradle to version 5.4
  am-lib/gradle/wrapper/gradle-wrapper.jar
  am-lib/gradle/wrapper/gradle-wrapper.properties
  am-lib/gradlew
  am-lib/gradlew.bat
  gradle/wrapper/gradle-wrapper.properties
Labels: ns:am-lib-test-pr-131

#132 refactor: update public methods to use resourceDefinition
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/SetupGenerator.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/DefaultRoleSetupImportService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/AccessManagementRepository.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/DefaultRoleSetupRepository.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/DefaultPermissionGrant.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessGrant.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessMetadata.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetResourceDefinitionsWithCreatePermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetRolePermissionsIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/RevokeAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/base/PreconfiguredIntegrationBaseTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/DefaultPermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/ResourceDefinitionIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/DefaultRoleSetupImportServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/DefaultRoleSetupDataFactory.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestDataFactory.java
  src/gatling/bodies/createResourceAccess.json
  src/gatling/bodies/revokeResourceAccess.json
  src/main/java/uk/gov/hmcts/reform/amapi/Application.java
  tools/postman-collections/am-lib-testing.postman_collection.json
Labels: ns:am-lib-test-pr-132

#122 feat: filter resource definitions with create permission using security classification (AM-253)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/enums/SecurityClassification.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/AccessManagementRepository.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetResourceDefinitionsWithCreatePermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/DefaultPermissionIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/DefaultRoleSetupDataFactory.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/internal/utils/SecurityClassificationTest.java
Labels: ns:am-lib-test-pr-122

#135 refactor: remove security classification from am table (AM-253)
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/SetupGenerator.java
  am-lib/src/benchmark/resources/database-scripts/populate/access_management.copy.sql
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/models/ExplicitAccessRecord.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/AccessManagementRepository.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessGrant.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessMetadata.java
  am-lib/src/main/resources/db/migration/V13__Remove_SecurityClassification_From_AM_Table.sql
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/RevokeAccessIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestDataFactory.java
  src/gatling/bodies/createResourceAccess.json
  src/gatling/bodies/revokeResourceAccess.json
  tools/postman-collections/am-lib-testing.postman_collection.json
Labels: ns:am-lib-test-pr-135

#136 fix: make retrieving resource definitions with root create permissions use EXPLICIT and ROLE_BASED access type
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/AccessManagementRepository.java
Labels: ns:am-lib-test-pr-136

#137 build: add publishing Javadoc to pipeline
  Jenkinsfile_CNP
  am-lib/README.md
Labels: ns:am-lib-test-pr-137

#128 chore: add release script
  .gitignore
  am-lib/bin/cut-release.sh
  am-lib/prepare-for-release.sh
Labels: ns:am-lib-test-pr-128

#141 build: fix Javadoc generation so that methods generated by Lombok are included
  am-lib/build.gradle
  am-lib/lombok.config
Labels: ns:am-lib-test-pr-141

#140 build: bump to latest version of gatling (RPE-1069)
  Jenkinsfile_nightly
  src/gatling/resources/createResourceAccess.json
  src/gatling/resources/filterResource.json
  src/gatling/resources/revokeResourceAccess.json
  src/gatling/run.sh
  src/gatling/simulations/Engine.scala
  src/gatling/simulations/IDEPathHelper.scala
  src/gatling/simulations/Recorder.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/feed/CreateResourceAccess.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/http/AccessManagement.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/scenarios/BasicScenarios.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/simulations/PipelineSimulation.scala
Labels: ns:am-lib-test-pr-140

#143 refactor: remove permission constants from test constants
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetResourceDefinitionsWithCreatePermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetRolePermissionsIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GrantAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/RevokeAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/DefaultPermissionIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/internal/FilterServiceTest.java
Labels: ns:am-lib-test-pr-143

#146 docs: add importer 'how to' page
  am-lib/README.md
  am-lib/docs/importer.md
Labels: ns:am-lib-test-pr-146

#145 refactor: use random service name in tests
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetResourceDefinitionsWithCreatePermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetRolePermissionsIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GrantAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/RevokeAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/base/PreconfiguredIntegrationBaseTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/helpers/DatabaseHelperRepository.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/DefaultPermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/ResourceDefinitionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/ServiceIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/DefaultRoleSetupDataFactory.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestDataFactory.java
Labels: ns:am-lib-test-pr-145

#144 build: add checksum check to nightly pipeline
  Jenkinsfile_nightly
Labels: ns:am-lib-test-pr-144

#149 refactor: randomise resource type
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetResourceDefinitionsWithCreatePermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetRolePermissionsIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GrantAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/RevokeAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/base/PreconfiguredIntegrationBaseTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/DefaultPermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/ResourceDefinitionIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
Labels: ns:am-lib-test-pr-149

#150 refactor: random resource name
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetResourceDefinitionsWithCreatePermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetRolePermissionsIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GrantAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/RevokeAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/base/PreconfiguredIntegrationBaseTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/DefaultPermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/ResourceDefinitionIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
Labels: ns:am-lib-test-pr-150

#142 feat: retrieve security classifications of attributes for a role
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/models/query/AttributeData.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/AccessManagementRepository.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/utils/Permissions.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/utils/SecurityClassifications.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/RolePermissions.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetRolePermissionsIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/internal/utils/SecurityClassificationTest.java
Labels: ns:am-lib-test-pr-142
