Repository hmcts/am-lib, pull requests merged in 2019-06, with the labels that each got.

#201 fix: Aspect logging for user highest security classification in Filter resource api
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
Labels: ns:am-lib-test-pr-201

#197 feat: CCD to AM migration scripts (AM-266)
  .gitignore
  migration/ccd-to-am-migration-init.sql
  migration/ccd-to-am-migration-main.sql
  migration/ccd-to-am-migration-runner.sh
Labels: ns:am-lib-test-pr-197

#202 feat: error handling for db migration scripts (AM-308)
  .gitignore
  migration/ccd-to-am-migration-init.sql
  migration/ccd-to-am-migration-main.sql
  migration/ccd-to-am-migration-runner.sh
Labels: ns:am-lib-test-pr-202

#200 feat: AM-API Exception Handling and Swagger Support
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/aspects/ValidationAspect.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessGrant.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessMetadata.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/Resource.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ResourceDefinition.java
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/http/AccessManagement.scala
  src/main/java/uk/gov/hmcts/reform/amapi/config/WebMvcConfig.java
  src/main/java/uk/gov/hmcts/reform/amapi/controllers/AmLibProxyController.java
  src/main/java/uk/gov/hmcts/reform/amapi/exception/AmResponseEntityExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/amapi/exception/ErrorResponse.java
  src/main/java/uk/gov/hmcts/reform/amapi/models/FilterResource.java
  src/main/java/uk/gov/hmcts/reform/amapi/util/ErrorConstants.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/amapi/controllers/AmLibProxyControllerTest.java
  src/test/java/uk/gov/hmcts/reform/amapi/exception/AmResponseEntityExceptionHandlerTest.java
  src/test/resources/application-test.yml
  src/test/resources/exception-mapper-data/filterResourceWithMissingRoot.json
  src/test/resources/exception-mapper-data/malformedInput.json
  src/test/resources/exception-mapper-data/missingValidInputParameter.json
  src/test/resources/input-data/createResourceAccess.json
  src/test/resources/input-data/filterResource.json
  src/test/resources/input-data/revokeResourceAccess.json
Labels: ns:am-lib-test-pr-200

#205 fix: Api Refactor Create/Revoke and Filter Resource AM
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/http/AccessManagement.scala
  src/main/java/uk/gov/hmcts/reform/amapi/controllers/AccessManagementController.java
  src/test/java/uk/gov/hmcts/reform/amapi/controllers/AccessManagementControllerTest.java
  src/test/java/uk/gov/hmcts/reform/amapi/exception/AmResponseEntityExceptionHandlerTest.java
  tools/postman-collections/am-lib-testing.postman_collection.json
Labels: ns:am-lib-test-pr-205

#207 fix: Swagger documentation for API Modelling & Functional Test Refactor
  am-lib/build.gradle
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessGrant.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessMetadata.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/Resource.java
  build.gradle
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/HealthCheckTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/HelloWorldTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/RestAssuredTest.java
  src/main/java/uk/gov/hmcts/reform/amapi/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/amapi/exception/AccessManagementResponseEntityExceptionHandler.java
  src/main/java/uk/gov/hmcts/reform/amapi/models/FilterResource.java
  src/test/java/uk/gov/hmcts/reform/amapi/exception/AccessManagementResponseEntityExceptionHandlerTest.java
  src/test/java/uk/gov/hmcts/reform/amapi/functional/ApplicationTests.java
Labels: ns:am-lib-test-pr-207

#212 test: gatling performance test improvements
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/simulations/PipelineSimulation.scala
Labels: ns:am-lib-test-pr-212

#215 test: Am 295 performancetests enhancement
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/simulations/PipelineSimulation.scala
Labels: ns:am-lib-test-pr-215

#221 feat: AM-328-filterResource add resourceType inaddition to resourceId
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/AccessManagementRepository.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
Labels: ns:am-lib-test-pr-221

#224 fix: Am 328 filter resource add resource type
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
Labels: ns:am-lib-test-pr-224

#226 fix: add Role accessor type AM-326
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/enums/AccessorType.java
Labels: ns:am-lib-test-pr-226

#225 fix: AM-327 support for null relationship
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessGrant.java
  am-lib/src/main/resources/db/migration/V14__Remove_NotNull_Constraint_RelationShip_From_AM_Table.sql
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GrantAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/RevokeAccessIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
Labels: ns:am-lib-test-pr-225

#228 Refactor: filtered null relationship in Filter resource api(Am-237)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
Labels: ns:am-lib-test-pr-228

#229 ci: Update Flyway script for Annotations(Am-330)
  am-lib/src/main/resources/db/migration/V15__Annotation_Initial_Data.sql
Labels: ns:am-lib-test-pr-229
