Repository hmcts/am-lib, pull requests merged in 2019-05, with the labels that each got.

#153 Am 271 refactor security classifications for resource attribute
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetRolePermissionsIntegrationTest.java
Labels: ns:am-lib-test-pr-153

#151 refactor: randomised test data and truncate db before all tests
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetResourceDefinitionsWithCreatePermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetRolePermissionsIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GrantAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/RevokeAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/base/IntegrationBaseTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/base/PreconfiguredIntegrationBaseTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/DefaultPermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/RoleIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/DefaultRoleSetupDataFactory.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestDataFactory.java
Labels: ns:am-lib-test-pr-151

#158 ci: Travis configuration update from oraclejdk8 to openjdk8
  .travis.yml
Labels: ns:am-lib-test-pr-158

#166 refactor: remove db truncation and randomise attributes
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/base/IntegrationBaseTest.java
Labels: ns:am-lib-test-pr-166

#171 fix: test case failure
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetResourceDefinitionsWithCreatePermissionIntegrationTest.java
Labels: ns:am-lib-test-pr-171

#177 Fix: revert rest-assured version
  build.gradle
Labels: ns:am-lib-test-pr-177

#164 feat: Filtering uses security classification(AM-77)
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceBenchmarks.java
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/states/DataState.java
  am-lib/src/benchmark/resources/resource-data/cmc-securityclassification.json
  am-lib/src/benchmark/resources/resource-data/fpl-securityclassification.json
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/FilterService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/FilteredResourceEnvelope.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/Resource.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceWithSecurityClassificationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetResourceDefinitionsWithCreatePermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/DefaultPermissionIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/DefaultRoleSetupDataFactory.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/InvalidArgumentsProvider.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestDataFactory.java
  am-lib/src/test/resources/FilterServiceResources/filterInput.json
  src/main/java/uk/gov/hmcts/reform/amapi/controllers/AmLibProxyController.java
  src/main/java/uk/gov/hmcts/reform/amapi/models/FilterResource.java
Labels: ns:am-lib-test-pr-164

#184 style: helm charts failing during PR AKS deployment
  build.gradle
  charts/am-lib-test/requirements.yaml
  charts/am-lib-test/values.preview.template.yaml
  charts/am-lib-test/values.template.yaml
  charts/am-lib-test/values.yaml
  src/main/resources/application.yaml
Labels: ns:am-lib-test-pr-184

#181 fix: Swagger Configuration
  build.gradle
Labels: ns:am-lib-test-pr-181

#180 feat: enhanced filtering logic for security classification inheritance
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/enums/SecurityClassification.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/FilterService.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceWithSecurityClassificationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/internal/FilterServiceTest.java
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/scenarios/BasicScenarios.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/simulations/PipelineSimulation.scala
Labels: ns:am-lib-test-pr-180

#191 fix: update jackson-databind version
  am-lib/build.gradle
  build.gradle
Labels: ns:am-lib-test-pr-191

#190 chore: cut release script fix, bump version
  CHANGELOG.md
  am-lib/bin/cut-release.sh
  am-lib/gradle.properties
Labels: ns:am-lib-test-pr-190

#192 fix: Gatling test case fix for Filter-Resource (AM-303)
  src/gatling/resources/filterResource.json
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/scenarios/BasicScenarios.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/simulations/PipelineSimulation.scala
  src/main/java/uk/gov/hmcts/reform/amapi/Application.java
Labels: ns:am-lib-test-pr-192

#193 chore: Log level changed to see gatling logs in Jenkins
  src/gatling/conf/logback.xml
Labels: ns:am-lib-test-pr-193

#195 chore: update benchmark tests configuration
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceBenchmarkTest.java
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceBenchmarks.java
Labels: ns:am-lib-test-pr-195

#198 chore:update benchmark tests configuration
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceBenchmarkTest.java
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceBenchmarks.java
Labels: ns:am-lib-test-pr-198
