Repository hmcts/am-lib, pull requests merged in 2019-03, with the labels that each got.

#73 feat: add default role setup API (AM-59)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/DefaultRoleSetupImportService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/enums/AccessType.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/enums/RoleType.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/enums/SecurityClassification.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/exceptions/ErrorAddingEntriesToDatabaseException.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/exceptions/PersistenceException.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/DefaultPermission.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/DefaultPermissionGrant.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ResourceAttribute.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/repositories/DefaultRoleSetupRepository.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/utils/Pair.java
  am-lib/src/main/resources/db/migration/V10__Change_Values_For_SecurityClassification.sql
  am-lib/src/main/resources/db/migration/V9__Add_Access_Management_Type_To_Roles_Table.sql
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetAccessorsListIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GrantAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/RevokeAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/base/IntegrationBaseTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/base/PreconfiguredIntegrationBaseTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/DefaultPermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/ResourceDefinitionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/RoleIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/ServiceIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AddResourceDefinitionValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AddRoleValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AddServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/DefaultRoleSetupDataFactory.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
Labels: ns:am-lib-test-pr-73

#76 refactor(testing service): use constructor that accepts DataSource instance
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  build.gradle
  src/main/java/uk/gov/hmcts/reform/amapi/Application.java
  src/main/java/uk/gov/hmcts/reform/amapi/FlywayMigrator.java
  src/main/java/uk/gov/hmcts/reform/amapi/config/AccessManagementServiceConfiguration.java
  src/main/resources/application.yaml
Labels: ns:am-lib-test-pr-76

#81 build: reuse DB container for all tests to speed up test execution
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/base/IntegrationBaseTest.java
  am-lib/src/test/resources/testcontainers.properties
Labels: ns:am-lib-test-pr-81

#77 feat: filter resource with role based access (AM-2)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/enums/AccessType.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/Resource.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ResourceDefinition.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/repositories/AccessManagementRepository.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/DefaultPermissionIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/DefaultRoleSetupDataFactory.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestDataFactory.java
  build.gradle
  src/gatling/bodies/filterResource.json
  src/main/java/uk/gov/hmcts/reform/amapi/controllers/AmLibProxyController.java
  src/main/java/uk/gov/hmcts/reform/amapi/models/FilterResource.java
  tools/postman-collections/am-lib-testing.postman_collection.json
Labels: ns:am-lib-test-pr-77

#82 chore(testing service): configure AppInsights for testing service and use DEBUG level for library
  am-lib/config/owasp/suppressions.xml
  build.gradle
  config/owasp/suppressions.xml
  dependency-check-suppressions.xml
  src/main/resources/logback-includes.xml
  src/main/resources/logback.xml
Labels: ns:am-lib-test-pr-82

#84 refactor: remove JDBI constructors
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/DefaultRoleSetupImportService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/AbstractAccessMetadata.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessGrant.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessMetadata.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessRecord.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ResourceAttribute.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/RoleBasedAccessRecord.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/repositories/AccessManagementRepository.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/repositories/DefaultRoleSetupRepository.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/repositories/mappers/JsonPointerMapper.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/repositories/mappers/PermissionSetMapper.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/helpers/DatabaseHelperRepository.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/DefaultPermissionIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
Labels: ns:am-lib-test-pr-84

#79 feat: filter list of resources (AM-107)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/RoleIntegrationTest.java
Labels: ns:am-lib-test-pr-79

#86 refactor: update security classification name in performance tests and Postman collections
  src/gatling/bodies/createResourceAccess.json
  tools/postman-collections/am-lib-testing.postman_collection.json
Labels: ns:am-lib-test-pr-86

#80 feat: alter revoking permissions to cascade on given attribute (AM-147)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/repositories/AccessManagementRepository.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/RevokeAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/helpers/DatabaseHelperRepository.java
Labels: ns:am-lib-test-pr-80

#89 refactor(testing service): populate service and resource definition using importer service
  src/gatling/bodies/createResourceAccess.json
  src/gatling/bodies/filterResource.json
  src/gatling/bodies/revokeResourceAccess.json
  src/main/java/uk/gov/hmcts/reform/amapi/Application.java
  src/main/java/uk/gov/hmcts/reform/amapi/config/DefaultRoleSetupImportServiceConfiguration.java
  tools/postman-collections/am-lib-testing.postman_collection.json
Labels: ns:am-lib-test-pr-89

#95 build: upgrade checkstyle to version 8.18 to avoid vulnerability found by OWASP
  am-lib/build.gradle
  build.gradle
Labels: ns:am-lib-test-pr-95

#92 refactor: use annotations to validate method arguments
  am-lib/README.md
  am-lib/build.gradle
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/DefaultRoleSetupImportService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/ValidationAspect.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/DefaultPermissionGrant.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessGrant.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessMetadata.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/Resource.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ResourceDefinition.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetRolePermissionsIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GrantAccessIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AddResourceDefinitionValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AddRoleValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AddServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/DefaultRoleSetupImportServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/GetRolePermissionsValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/DefaultRoleSetupDataFactory.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/InvalidArgumentsProvider.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestDataFactory.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/ValidationMessageRegexFactory.java
Labels: ns:am-lib-test-pr-92

#100 build: upgrade PMD to version 6.12 and remove deprecated rule
  am-lib/build.gradle
  am-lib/config/pmd/ruleset.xml
  build.gradle
  config/pmd/ruleset.xml
Labels: ns:am-lib-test-pr-100

#96 feat: add method to return resources with create permission (AM-221)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/AccessManagementRepository.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ResourceDefinition.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetResourceDefinitionsWithCreatePermissionIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/DefaultPermissionIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/DefaultRoleSetupDataFactory.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
Labels: ns:am-lib-test-pr-96

#101 refactor: improve error handling
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/DefaultRoleSetupImportService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/exceptions/AccessManagementException.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/exceptions/PersistenceException.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/exceptions/UnsupportedPermissionsException.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/aspects/AspectsSuite.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/aspects/ErrorHandlingAspect.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/aspects/ValidationAspect.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/ResourceDefinitionIntegrationTest.java
Labels: ns:am-lib-test-pr-101

#103 feature: add method calls auditing (AM-213)
  am-lib/build.gradle
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/DefaultRoleSetupImportService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/aspects/AspectsSuite.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/aspects/AuditLog.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/aspects/AuditingAspect.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/Pair.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/DefaultRoleSetupImportServiceValidationTest.java
Labels: ns:am-lib-test-pr-103

#94 feat: add NONE value to security classification enum (AM-231)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/enums/SecurityClassification.java
  am-lib/src/main/resources/db/migration/V11__Additional_Value_For_SecurityClassification.sql
Labels: ns:am-lib-test-pr-94

#93 feat: support granting explicit permissions of a resource to multiple users in a transaction (AM-218)
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/models/ExplicitAccessGrant.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GrantAccessIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/RevokeAccessIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestDataFactory.java
  src/gatling/bodies/createResourceAccess.json
  src/gatling/bodies/revokeResourceAccess.json
Labels: ns:am-lib-test-pr-93

#106 refactor: change tests to use Guava classes
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/FilterResourceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetRolePermissionsIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GrantAccessIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/DefaultRoleSetupDataFactory.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestDataFactory.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/internal/FilterServiceTest.java
  tools/postman-collections/am-lib-testing.postman_collection.json
Labels: ns:am-lib-test-pr-106

#91 feat: merge permissions in method that gets permissions for user roles (AM-60)
  am-lib/config/checkstyle/checkstyle.xml
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/PermissionsService.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetRolePermissionsIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/importer/DefaultPermissionIntegrationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceValidationTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/DefaultRoleSetupDataFactory.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/helpers/TestConstants.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/internal/PermissionsServiceTest.java
  am-lib/src/test/resources/logback-includes.xml
  config/checkstyle/checkstyle.xml
Labels: ns:am-lib-test-pr-91

#114 feat: temporarily remove method that retrieves list of accessors
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/internal/repositories/AccessManagementRepository.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/GetAccessorsListIntegrationTest.java
  src/gatling/bodies/getAccessorsList.json
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/http/AccessManagement.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/scenarios/BasicScenarios.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/simulations/PipelineSimulation.scala
  src/main/java/uk/gov/hmcts/reform/amapi/controllers/AmLibProxyController.java
  tools/postman-collections/am-lib-testing.postman_collection.json
Labels: ns:am-lib-test-pr-114
