Repository hmcts/am-lib, pull requests merged in 2019-01, with the labels that each got.

#6 [AKS] Rename component name
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  infrastructure/variables.tf
Labels: ns:am-lib-testing-service-pr-6

#15 [AKS] Feature/am 50/configuring testing service
  .travis.yml
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  am-lib/build.gradle
  am-lib/gradle.properties
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/DummyService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/db/migrations/V1__Create_initial_table.sql
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/DummyServiceTest.java
  build.gradle
  docker-compose.yml
  infrastructure/main.tf
  infrastructure/output.tf
  infrastructure/variables.tf
  src/main/java/uk/gov/hmcts/reform/amapi/controllers/RootController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/amapi/functional/ApplicationTests.java
Labels: ns:am-lib-test-pr-15

#16 [AKS] Add perf tests to pipeline
  .gitignore
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/gatling/README.md
  src/gatling/bodies/.gitkeep
  src/gatling/conf/gatling.conf
  src/gatling/conf/logback.xml
  src/gatling/conf/recorder.conf
  src/gatling/data/.gitkeep
  src/gatling/simulations/AmlibRun.scala
  src/gatling/simulations/Engine.scala
  src/gatling/simulations/IDEPathHelper.scala
  src/gatling/simulations/Recorder.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/simulations/PipelineSimulation.scala
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/utils/Environment.scala
Labels: ns:am-lib-test-pr-16

#22 [AKS] Feature/am 1/explicit access
  am-lib/build.gradle
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/DummyService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/db/migration/V2.1__Remove_access_control.sql
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/db/migration/V2.2__Setup_basic_am_table.sql
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/exceptions/AccessManagementException.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/repositories/AccessManagementRepository.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/AccessManagementServiceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/DummyServiceIntegrationTest.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/IntegrationBaseTest.java
  am-lib/src/test/java/uk/gov/hmcts/reform/amlib/DummyServiceTest.java
  build.gradle
  src/main/java/uk/gov/hmcts/reform/amapi/config/AccessManagementServiceConfiguration.java
  src/main/java/uk/gov/hmcts/reform/amapi/controllers/RootController.java
  src/test/java/uk/gov/hmcts/reform/amapi/functional/ApplicationTests.java
Labels: ns:am-lib-test-pr-22

#20 [AKS] Add a hello world test
  README.md
  config/pmd/ruleset.xml
  src/test/functional/java/uk/gov/hmcts/reform/amapi/functional/HealthCheckTest.java
  src/test/functional/java/uk/gov/hmcts/reform/amapi/functional/HelloWorldTest.java
  src/test/functional/java/uk/gov/hmcts/reform/amapi/functional/RestAssuredTest.java
Labels: ns:am-lib-test-pr-20

#28 [AKS] AM-3basic filter resource with explicit access
  am-lib/build.gradle
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/AccessManagementService.java
  am-lib/src/main/java/uk/gov/hmcts/reform/amlib/repositories/AccessManagementRepository.java
  am-lib/src/test/java/integration/uk/gov/hmcts/reform/amlib/AccessManagementServiceIntegrationTest.java
  src/main/java/uk/gov/hmcts/reform/amapi/controllers/RootController.java
Labels: ns:am-lib-test-pr-28

#32 [PREVIEW] updated port from 2703 (the same as was on api) to 3703
  Dockerfile
  README.md
  bin/init.sh
  charts/am-lib-test/values.template.yaml
  docker-compose.yml
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/utils/Environment.scala
  src/main/resources/application.yaml
  src/test/functional/java/uk/gov/hmcts/reform/amapi/functional/RestAssuredTest.java
Labels: ns:am-lib-test-pr-32
