Repository hmcts/am-lib, pull requests merged in 2019-09, with the labels that each got.

#334 refactor: beanutils version update
  am-lib/build.gradle
  build.gradle
Labels: ns:am-lib-test-pr-334

#336 refactor: update enableDbMigration and tf scripts
  Jenkinsfile_CNP
  infrastructure/main.tf
  infrastructure/output.tf
Labels: ns:am-lib-test-pr-336

#339 fix: update secret names in jenkinsfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:am-lib-test-pr-339

#338 feat: test url for sandbox
  Jenkinsfile_CNP
Labels: ns:am-lib-test-pr-338

#343 refactor: s2s sandbox url
  Jenkinsfile_CNP
Labels: ns:am-lib-test-pr-343

#344 Refactor:S2S Local and AKS Functional Initial data load
  Jenkinsfile_CNP
  am-lib/src/main/resources/db/migration/migrationAks/V19__load_data.sql
  bin/run-in-docker.sh
  docker-compose.yml
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/FunctionalTestSuite.java
  src/functionalTest/resources/application-functional.yaml
  src/integrationTest/java/uk/gov/hmcts/reform/amapi/client/S2sClient.java
  src/main/resources/application.yaml
Labels: ns:am-lib-test-pr-344

#325 feat: aks migration readiness
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  bin/run-in-docker.sh
  build.gradle
  charts/am-accessmgmt-api/Chart.yaml
  charts/am-accessmgmt-api/requirements.yaml
  charts/am-accessmgmt-api/values.preview.template.yaml
  charts/am-accessmgmt-api/values.yaml
  charts/am-lib-test/values.preview.template.yaml
  docker-compose.yml
  docker/am-accessmgmt-api-db/Dockerfile
  docker/am-accessmgmt-api-db/docker-entrypoint-initdb.d/01-init-users.sql
  infrastructure/main.tf
  infrastructure/variables.tf
  nightlyperformancedata/load-or-delete-performance-testdata-win.bat
  nightlyperformancedata/load-or-delete-performance-testdata.sh
  settings.gradle
  src/main/resources/bootstrap.yaml
  tools/postman-collections/am-accessmgmt-api.postman_collection.json
  web.config
Labels: ns:am-accessmgmt-api-pr-325, ns:am-api-pr-325, ns:am-lib-test-pr-325

#345 feat: Versioning Api changes AM-381
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/AccessManangementApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/FunctionalTestSuite.java
  src/functionalTest/resources/application-functional.yaml
  src/gatling/simulations/uk/gov/hmcts/reform/amlib/performance/http/AccessManagement.scala
  src/integrationTest/java/uk/gov/hmcts/reform/amapi/controllers/AccessManagementControllerTest.java
  src/integrationTest/java/uk/gov/hmcts/reform/amapi/exception/AccessManagementResponseEntityExceptionHandlerTest.java
  src/main/java/uk/gov/hmcts/reform/amapi/config/SwaggerConfiguration.java
  src/main/java/uk/gov/hmcts/reform/amapi/controllers/AccessManagementController.java
  src/main/resources/application.yaml
  src/test/java/uk/gov/hmcts/reform/amapi/controllers/AccessManagementControllerUnitTest.java
  tools/postman-collections/am-lib-testing.postman_collection.json
Labels: ns:am-lib-test-pr-345

#355 feat: aks migration readiness
  Dockerfile
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  README.md
  bin/run-in-docker.sh
  build.gradle
  charts/am-accessmgmt-api/Chart.yaml
  charts/am-accessmgmt-api/requirements.yaml
  charts/am-accessmgmt-api/values.preview.template.yaml
  charts/am-accessmgmt-api/values.yaml
  charts/am-lib-test/values.preview.template.yaml
  docker-compose.yml
  docker/am-accessmgmt-api-db/Dockerfile
  docker/am-accessmgmt-api-db/docker-entrypoint-initdb.d/01-init-users.sql
  infrastructure/main.tf
  infrastructure/variables.tf
  nightlyperformancedata/load-or-delete-performance-testdata-win.bat
  nightlyperformancedata/load-or-delete-performance-testdata.sh
  settings.gradle
  src/main/resources/bootstrap.yaml
  tools/postman-collections/am-accessmgmt-api.postman_collection.json
  web.config
Labels: ns:am-accessmgmt-api-pr-355

#356 refactor: aks migration- shared vault rename
  infrastructure/main.tf
  infrastructure/output.tf
Labels: ns:am-accessmgmt-api-pr-356

#359 refactor: aks migration update jenkinsfile vault and secret names
  Jenkinsfile_CNP
  Jenkinsfile_nightly
Labels: ns:am-accessmgmt-api-pr-359

#361 refactor: Amend Benchmark tests to setup and truncate data required for benchmark tests
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/AccessManagementServiceBenchmarks.java
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/SetupGenerator.java
  am-lib/src/benchmark/java/uk/gov/hmcts/reform/amlib/states/DataState.java
  am-lib/src/benchmark/resources/database-scripts/populate/access_management.copy.sql
  am-lib/src/benchmark/resources/database-scripts/populate/default_permissions_for_roles.sql
  am-lib/src/benchmark/resources/database-scripts/populate/resource_attributes.sql
  am-lib/src/benchmark/resources/database-scripts/populate/resources.sql
  am-lib/src/benchmark/resources/database-scripts/populate/roles.sql
  am-lib/src/benchmark/resources/database-scripts/populate/services.sql
  am-lib/src/benchmark/resources/database-scripts/truncate.sql
  am-lib/src/benchmark/resources/resource-data/cmc-jmhtest-securityclassification.json
  am-lib/src/benchmark/resources/resource-data/cmc-jmhtest.json
  am-lib/src/benchmark/resources/resource-data/fpl-jmhtest-securityclassification.json
  am-lib/src/benchmark/resources/resource-data/fpl-jmhtest.json
Labels: ns:am-accessmgmt-api-pr-361

#360 refactor: aks migration mount chart secrets
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  Jenkinsfile_parameterized
  bin/run-in-docker.sh
  charts/am-accessmgmt-api/values.yaml
  nightlyperformancedata/load-or-delete-performance-testdata.sh
  src/functionalTest/resources/application-functional.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:am-accessmgmt-api-pr-360

#375 refactor: Bench Mark tests fix for new auditing columns
  am-lib/src/benchmark/resources/database-scripts/populate/access_management.copy.sql
  am-lib/src/benchmark/resources/database-scripts/populate/access_management.sql
Labels: ns:am-accessmgmt-api-pr-375

#381 refactor: aks_migration : env variables - update helm charts
  charts/am-accessmgmt-api/Chart.yaml
  charts/am-accessmgmt-api/values.preview.template.yaml
  charts/am-accessmgmt-api/values.yaml
Labels: ns:am-accessmgmt-api-pr-381

#382 feat: charts db creds in env variables
  charts/am-accessmgmt-api/Chart.yaml
  charts/am-accessmgmt-api/values.preview.template.yaml
  charts/am-accessmgmt-api/values.yaml
  src/main/resources/bootstrap.yaml
Labels: ns:am-accessmgmt-api-pr-382

#384 fix: jackson databind version bump
  am-lib/build.gradle
  build.gradle
Labels: ns:am-accessmgmt-api-pr-384

#386 refactor: functional test suite tidy up
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/AccessManangementApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/FunctionalTestSuite.java
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/api/CreateResourceAccessApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/api/FilterResourceApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/api/RevokeResourceAccessApiTest.java
  src/functionalTest/java/uk/gov/hmcts/reform/amapi/functional/client/AmApiClient.java
Labels: ns:am-accessmgmt-api-pr-386
